In [1]:
import pandas as pd
import numpy as np

<hr>

In [2]:
df = pd.read_csv("data.csv")

In [3]:
print(list(df.columns))

['country', 'year', 'pop', 'continent', 'lifeExp', 'gdpPercap']

In [4]:
df.shape

(1704, 6)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   year       1704 non-null   int64
 2   pop        1704 non-null   float64
 3   continent  1704 non-null   object
 4   lifeExp    1704 non-null   float64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 80.0+ KB

In [6]:
df.describe()

             year           pop      lifeExp      gdpPercap
count  1704.00000  1.704000e+03  1704.000000    1704.000000
mean   1979.50000  2.960121e+07    59.474439    7215.327081
std      17.26533  1.061579e+08    12.917107    9857.454543
min    1952.00000  6.001100e+04    23.599000     241.165877
25%    1965.75000  2.793664e+06    48.198000    1202.060309
50%    1979.50000  7.023596e+06    60.712500    3531.846989
75%    1993.25000  1.958522e+07    70.845500    9325.462346
max    2007.00000  1.318683e+09    82.603000  113523.132900

<hr>

In [11]:
df.groupby('year')['lifeExp'].mean().reset_index().head()

   year    lifeExp
0  1952  49.057620
1  1957  51.507401
2  1962  53.609249
3  1967  55.678290
4  1972  57.647386

In [10]:
df.groupby(['year', 'continent'])[['lifeExp', 'gdpPercap']].mean().head()

                  lifeExp     gdpPercap
year continent
1952 Africa     39.135500   1252.572466
     Americas   53.279840   4079.062552
     Asia       46.314394   5195.484004
     Europe     64.408500   5661.057435
     Oceania    69.255000  10298.085650

<hr>

## Dispersion
__Chebysheff's Theorem__:
<br>
The proportion of observations in any sample that lie within __k__ standard deviations of the mean is at least equal to $1 - \frac{1}{k^{2}}$ for k > 1.
<br>
__Coefficient of Variation__:
$\frac{\sigma}{\mu} * 100$
<br>
Measurement of relative dispersion.

## Measures of Shape
__Skewness__:
- Absence of symmetry.
- Extreme values in one side of a distribution.
<br>

__Kurtosis__:
Peakedness of the distribution.
- Leptokurtic: high and thin.
- Mesokurtic: normal shape.
- Platykurtic: flat and spread out.
<br>

__Box and Whisker Plots__:
Graphic display of distribution to reveal skewness.